@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Chris Eluvathingal</h3>

<address>
    52 Cluain Aoibhinn,<br />
    Swellan, Cavan<br />
    <abbr title="Phone">P:</abbr>
    +353 879630836
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:Support@example.com">celuvathingal@gmail.com</a><br />    
</address>